@using OrganizationEntityLayer.Event
@model IList<Category>
@{
    Layout = null;
}

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CategoryID</td>
            <td>@item.CategoryName</td>
        </tr>
    }
</table>